html{
	text-align: center;
	font-size: 20px;
	font-family: PT Sans, sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
}

body{
	min-height: 100%;
}
/* header */

.p_i_h{
	display: flex;
	justify-content: space-between;
	padding-left:  20px;
	padding-right: 20px;
	height: 13%;
}

.p_i_h_button{
	text-decoration: none;
	background-color: #f7f7f7;
	border: 1px solid lightgray;
	color: black;
	border-radius: 5%;
	width: 70%;
	padding: 5px;
	height: 60%;
}

.p_i_h_button:hover{
	background-color: lightgray;
	color: black;
	transition: 0.3s;
}

.p_i_btns{
	display: flex;
	
	align-items: center;
	gap: 10%;
}

.p_i_h_login{
}
/* intro metavers */

.p_i_intro{
	background-image: url(images/metavers-revolutionner-internet-couv);	
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	height: 90vh;
	z-index: 1;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 40px;
	color: white;
}

.p_i_discov{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 40%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 20%;
	color: #4e585a;
}

/* rubriques explorer */

.p_i_explo{
	display: flex;
	flex-direction: column;
	width: 70%;
	color: #4e585a;
	margin : auto;
}

.p_i_subj_1{
	position: relative;
	margin-top: 10%;
	right: 0%;
	width: 50%;
	text-align: left;
	font-size: 25px;
}

.p_i_subj_2{
	position: relative;
	right: -50%;
	width: 50%;
	text-align: right;
	font-size: 25px;
}

.p_i_subj_3{
	position: relative;
	right: 0%;
	width: 50%;
	text-align: left;
	font-size: 25px;
}

.p_i_subj_tit{
	font-size: 40px;
	padding-top: 2%;
	padding-bottom: 1%;
}


/* footer */

.p_i_f{
	display: flex;
	justify-content: space-between;
	margin-top: 5%;
	padding-top: 15%;
	background-color: #f7f7f7;
	position: relative;
	height: 20%;
	margin-top: 18%;
}

.p_i_f_copyright{
	align-self: flex-end;
}

.p_i_f_follow{
	padding-bottom: 10%;
}